# Covid 19 - Dataset Processing

by: Leandro Arruda
Special thanks for Mario Filho https://github.com/ledmaster

## Exploring Distance between Countries and  Confirmed cases

[https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density]

[https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset]

[https://www.kaggle.com/fernandol/countries-of-the-world]

[https://www.kaggle.com/max-mind/world-cities-database]

[https://www.kaggle.com/andradaolteanu/iso-country-codes-global]

[https://www.kaggle.com/folaraz/world-countries-and-continents-details]

I explored several datasets, looking for certain characteristics that might influences CoVid-19 prediction.
In result, I ended up with the idea to look at:
    * The proximity of countries
    * Countries which had SARS. (Since there're some common characteristics. I.e. Both are a Coronavirus infection, the initial cases started in the same countries, among others)
    * Population density. (Observing the spread characteristic)

## Importing Libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime
from geopy.distance import geodesic
import os
#plt.figure(figsize=(16,6))

## Reading the datasets

In [2]:
# Input data files are available in the "../data/" directory.

for dirname, _, filenames in os.walk('.\data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

.\data\2019_nCoV_data.csv
.\data\countries-lat-lon.csv
.\data\countries.csv
.\data\countries_and_continents.csv
.\data\covid_19_data.csv
.\data\covid_19_processed.csv
.\data\Population.csv
.\data\sars.csv
.\data\time_series_covid_19_confirmed.csv
.\data\time_series_covid_19_deaths.csv
.\data\time_series_covid_19_recovered.csv

In [3]:
covid = pd.read_csv('./data/covid_19_data.csv')
covid.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [4]:
countries = pd.read_csv("./data/countries.csv")
countries_loc = pd.read_csv("./data/countries-lat-lon.csv", index_col=0)
countries.head()

,name,official_name_en,official_name_fr,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,M49,ITU,MARC,WMO,DS,...,ISO4217-currency_minor_unit,ISO4217-currency_name,ISO4217-currency_numeric_code,is_independent,Capital,Continent,TLD,Languages,Geoname ID,EDGAR
0,NaN,Channel Islands,ÃŽles Anglo-Normandes,NaN,NaN,830,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sark,Sercq,NaN,NaN,680,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Afghanistan,Afghanistan,AF,AFG,4,AFG,af,AF,AFG,...,2.0,Afghani,971.0,Yes,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,B2
3,Albania,Albania,Albanie,AL,ALB,8,ALB,aa,AB,AL,...,2.0,Lek,8.0,Yes,Tirana,EU,.al,"sq,el",783754.0,B3
4,Algeria,Algeria,AlgÃ©rie,DZ,DZA,12,ALG,ae,AL,DZ,...,2.0,Algerian Dinar,12.0,Yes,Algiers,AF,.dz,ar-DZ,2589581.0,B4

## Data Cleaning

### Preparing COVID dataset merging other datasets

In [5]:
covid['ObservationDate'] = pd.to_datetime(covid['ObservationDate'], format='%m/%d/%Y')
covid.loc[covid['Country/Region'] == 'China', 'Country/Region'] = 'Mainland China'
covid.loc[covid['Country/Region'] == 'North Ireland', 'Country/Region'] = 'Ireland'
covid.loc[covid['Country/Region'] == 'North Macedonia', 'Country/Region'] = 'Macedonia'
covid.loc[covid['Country/Region'] == ' Azerbaijan', 'Country/Region'] = 'Azerbaijan' 
covid.loc[covid['Country/Region'] == 'CÃ´te dâ€™Ivoire', 'Country/Region'] = 'Ivory Coast'

In [6]:
covid.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [7]:
covid = covid[covid['Confirmed'] > 0]

In [8]:
covid['Country/Region'].value_counts().head(10)

Mainland China    1160
US                 340
Australia          134
Canada              92
Macau               38
South Korea         38
Japan               38
Taiwan              38
Thailand            38
Vietnam             37
Name: Country/Region, dtype: int64

In [9]:
#covid = covid.drop_duplicates("Country/Region")
covid = covid[covid["Country/Region"] != "Others"]
covid = covid.reset_index(drop=True)
covid.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,6,2020-01-22,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0

### Preparing World Countries & Location to Merge into COVID dataset

**Renaming Name column**

In [10]:
countries_loc = countries_loc.rename(columns={"name": "Country/Region"})
countries_loc = countries_loc.dropna()
countries_loc.head()

   longitude    latitude  Country/Region
2  33.939110   67.709953     Afghanistan
3  41.153332   20.168331         Albania
4  28.033886    1.659626         Algeria
5 -14.270972 -170.132217  American Samoa
6  42.506285    1.521801         Andorra

In [11]:
covid.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,6,2020-01-22,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0

In [12]:
countries_loc.loc[countries_loc['Country/Region'] == 'China', 'Country/Region'] = 'Mainland China'
countries_loc.loc[countries_loc['Country/Region'] == 'CÃ´te dâ€™Ivoire', 'Country/Region'] = 'Ivory Coast'

### Preparing SARS Dataset to Merge into COVID dataset

In [13]:
sars = pd.read_csv('./data/sars.csv')
sars['Country or region'] = sars['Country or region'].str.strip()
sars.loc[sars['Country or region'] == 'China', 'Country or region'] = 'Mainland China'
sars.loc[sars['Country or region'] == 'United States', 'Country or region'] = 'US'
sars.loc[sars['Country or region'] == 'United Kingdom', 'Country or region'] = 'UK'
sars['SARS'] = 1
sars = sars.rename(columns={'Country or region': "Country/Region"})
sars = sars.rename(columns={'Cases': "SARS_Cases"})
sars = sars.rename(columns={'Deaths': "SARS_Deaths"})
sars = sars.rename(columns={'Fatality (%)': "SARS_Fatality"})
sars.head()

   Country/Region  SARS_Cases  SARS_Deaths  SARS_Fatality  SARS
0  Mainland China        5327          349            6.6     1
1       Hong Kong        1755          299           17.0     1
2          Taiwan         346           73           21.1     1
3          Canada         251           43           17.1     1
4       Singapore         238           33           13.9     1

In [14]:
countries_loc = countries_loc.merge(sars, how='left', on='Country/Region')

In [15]:
countries_loc.loc[countries_loc['Country/Region']=='Mainland China']

,longitude,latitude,Country/Region,SARS_Cases,SARS_Deaths,SARS_Fatality,SARS
45,35.86166,104.195397,Mainland China,5327.0,349.0,6.6,1.0

In [16]:
covid = covid.merge(countries_loc, how='left', on='Country/Region')

In [17]:
covid.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,longitude,latitude,SARS_Cases,SARS_Deaths,SARS_Fatality,SARS
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.86166,104.195397,5327.0,349.0,6.6,1.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0,35.86166,104.195397,5327.0,349.0,6.6,1.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0,35.86166,104.195397,5327.0,349.0,6.6,1.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.86166,104.195397,5327.0,349.0,6.6,1.0
4,6,2020-01-22,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0,35.86166,104.195397,5327.0,349.0,6.6,1.0

### Preparing Population Dataset to Merge into COVID dataset

In [18]:
population = pd.read_csv('./data/population.csv')
population.head()

,Country,Population,Land Area,Population Density,% of land arable,Arable Land,Real Population Density 2016
0,Singapore,5612253,682.7,7916.0,0.79%,560,0.000
1,Hong Kong S.A.R.,7391700,1042.0,7040.0,2.86%,3000,0.000
2,Bahrain,1492584,665.0,1936.0,2.06%,1600,0.001
3,Seychelles,95843,455.0,208.0,0.33%,150,0.002
4,Kuwait,4136528,17820.0,232.0,0.45%,8000,0.002

In [19]:
population.loc[population['Country'] == 'China', 'Country'] = 'Mainland China'
population.loc[population['Country'] == 'United States', 'Country'] = 'US'
population.loc[population['Country'] == 'United Kingdom', 'Country'] = 'UK'

In [20]:
population = population.rename(columns={"Country": "Country/Region"})

In [21]:
population = population.drop(columns=['Land Area', '% of land arable','Arable Land','Real Population Density 2016'])

In [22]:
population.head()

     Country/Region  Population  Population Density
0         Singapore     5612253              7916.0
1  Hong Kong S.A.R.     7391700              7040.0
2           Bahrain     1492584              1936.0
3        Seychelles       95843               208.0
4            Kuwait     4136528               232.0

In [23]:
covid = covid.merge(population, how='left', on='Country/Region')

In [24]:
covid['SARS_Cases'] = covid['SARS_Cases'].astype(float).fillna(0)
covid['SARS'] = covid['SARS'].astype(float).fillna(0)

In [25]:
covid

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,longitude,latitude,SARS_Cases,SARS_Deaths,SARS_Fatality,SARS,Population,Population Density
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
4,6,2020-01-22,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
5,7,2020-01-22,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
6,8,2020-01-22,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
7,9,2020-01-22,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
8,10,2020-01-22,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
9,12,2020-01-22,Henan,Mainland China,1/22/2020 17:00,5.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
10,14,2020-01-22,Hubei,Mainland China,1/22/2020 17:00,444.0,17.0,28.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
11,15,2020-01-22,Hunan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
12,17,2020-01-22,Jiangsu,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
13,18,2020-01-22,Jiangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
14,20,2020-01-22,Liaoning,Mainland China,1/22/2020 17:00,2.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
15,21,2020-01-22,Macau,Macau,1/22/2020 17:00,1.0,0.0,0.0,22.198745,113.543873,1.0,0.0,0.0,1.0,NaN,NaN
16,22,2020-01-22,Ningxia,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
17,25,2020-01-22,Shandong,Mainland China,1/22/2020 17:00,2.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
18,26,2020-01-22,Shanghai,Mainland China,1/22/2020 17:00,9.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
19,27,2020-01-22,Shanxi,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
20,28,2020-01-22,Sichuan,Mainland China,1/22/2020 17:00,5.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
21,29,2020-01-22,Taiwan,Taiwan,1/22/2020 17:00,1.0,0.0,0.0,23.697810,120.960515,346.0,73.0,21.1,1.0,2.270108e+07,704.0
22,30,2020-01-22,Tianjin,Mainland China,1/22/2020 17:00,4.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
23,32,2020-01-22,Washington,US,1/22/2020 17:00,1.0,0.0,0.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
24,34,2020-01-22,Yunnan,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
25,35,2020-01-22,Zhejiang,Mainland China,1/22/2020 17:00,10.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
26,36,2020-01-22,NaN,Japan,1/22/2020 17:00,2.0,0.0,0.0,36.204824,138.252924,0.0,NaN,NaN,0.0,1.267858e+08,348.0
27,37,2020-01-22,NaN,Thailand,1/22/2020 17:00,2.0,0.0,0.0,15.870032,100.992541,9.0,2.0,22.2,1.0,6.903751e+07,135.0
28,38,2020-01-22,NaN,South Korea,1/22/2020 17:00,1.0,0.0,0.0,35.907757,127.766922,3.0,0.0,0.0,1.0,5.146620e+07,528.0
29,39,2020-01-23,Anhui,Mainland China,1/23/20 17:00,9.0,0.0,0.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2612,2667,2020-02-28,NaN,Belarus,2020-02-28T16:23:03,1.0,0.0,0.0,53.709807,27.953389,0.0,NaN,NaN,0.0,9.507875e+06,47.0
2613,2668,2020-02-28,NaN,Belgium,2020-02-17T04:23:06,1.0,0.0,1.0,50.503887,4.469936,0.0,NaN,NaN,0.0,1.137207e+07,376.0
2614,2669,2020-02-28,NaN,Brazil,2020-02-26T23:53:02,1.0,0.0,0.0,-14.235004,-51.925280,0.0,NaN,NaN,0.0,2.092883e+08,25.0
2615,2670,2020-02-28,NaN,Cambodia,2020-02-12T07:43:02,1.0,0.0,1.0,12.565679,104.990963,0.0,NaN,NaN,0.0,1.600537e+07,91.0
2616,2671,2020-02-28,"Montreal, QC",Canada,2020-02-28T05:23:07,1.0,0.0,0.0,56.130366,-106.346771,251.0,43.0,17.1,1.0,3.670808e+07,4.0
2617,2672,2020-02-28,"London, ON",Canada,2020-02-12T18:53:03,1.0,0.0,1.0,56.130366,-106.346771,251.0,43.0,17.1,1.0,3.670808e+07,4.0
2618,2673,2020-02-28,NaN,Denmark,2020-02-27T16:23:03,1.0,0.0,0.0,56.263920,9.501785,0.0,NaN,NaN,0.0,5.769603e+06,137.0
2619,2674,2020-02-28,NaN,Egypt,2020-02-28T04:13:09,1.0,0.0,1.0,26.820553,30.802498,0.0,NaN,NaN,0.0,9.755315e+07,98.0
2620,2675,2020-02-28,NaN,Estonia,2020-02-27T16:23:03,1.0,0.0,0.0,58.595272,25.013607,0.0,NaN,NaN,0.0,1.315480e+06,31.0
2621,2676,2020-02-28,NaN,Georgia,2020-02-27T16:23:03,1.0,0.0,0.0,32.165622,-82.900075,0.0,NaN,NaN,0.0,3.717100e+06,65.0
2622,2677,2020-02-28,NaN,Iceland,2020-02-28T15:33:03,1.0,0.0,0.0,64.963051,-19.020835,0.0,NaN,NaN,0.0,3.412840e+05,3.0
2623,2678,2020-02-28,NaN,Lithuania,2020-02-28T16:23:03,1.0,0.0,0.0,55.169438,23.881275,0.0,NaN,NaN,0.0,2.827721e+06,45.0
2624,2679,2020-02-28,Tibet,Mainland China,2020-02-12T06:43:02,1.0,0.0,1.0,35.861660,104.195397,5327.0,349.0,6.6,1.0,1.386395e+09,148.0
2625,2680,2020-02-28,NaN,Mexico,2020-02-28T15:03:26,1.0,0.0,0.0,23.634501,-102.552784,0.0,NaN,NaN,0.0,1.291633e+08,66.0
2626,2681,2020-02-28,NaN,Nepal,2020-02-12T14:43:03,1.0,0.0,1.0,28.394857,84.124008,0.0,NaN,NaN,0.0,2.930500e+07,204.0
2627,2682,2020-02-28,NaN,Netherlands,2020-02-28T01:23:03,1.0,0.0,0.0,52.132633,5.291266,0.0,NaN,NaN,0.0,1.713285e+07,509.0
2628,2683,2020-02-28,NaN,New Zealand,2020-02-28T16:23:03,1.0,0.0,0.0,-40.900557,174.885971,1.0,0.0,0.0,1.0,4.793900e+06,18.0
2629,2684,2020-02-28,NaN,Nigeria,2020-02-28T16:23:03,1.0,0.0,0.0,9.081999,8.675277,0.0,NaN,NaN,0.0,1.908863e+08,210.0
2630,2685,2020-02-28,NaN,Ireland,2020-02-28T05:43:02,1.0,0.0,0.0,53.142367,-7.692054,1.0,0.0,0.0,1.0,4.813608e+06,70.0
2631,2686,2020-02-28,NaN,Macedonia,2020-02-27T16:23:03,1.0,0.0,0.0,41.608635,21.745275,0.0,NaN,NaN,0.0,2.083160e+06,83.0
2632,2687,2020-02-28,NaN,San Marino,2020-02-27T21:13:10,1.0,0.0,0.0,43.942360,12.457777,0.0,NaN,NaN,0.0,3.340000e+04,557.0
2633,2688,2020-02-28,NaN,Sri Lanka,2020-02-08T03:43:03,1.0,0.0,1.0,7.873054,80.771797,0.0,NaN,NaN,0.0,2.144400e+07,342.0
2634,2689,2020-02-28,"Boston, MA",US,2020-02-28T21:13:12,1.0,0.0,1.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
2635,2690,2020-02-28,"Humboldt County, CA",US,2020-02-21T05:13:09,1.0,0.0,0.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
2636,2691,2020-02-28,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
2637,2692,2020-02-28,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
2638,2693,2020-02-28,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
2639,2694,2020-02-28,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
2640,2695,2020-02-28,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0
2641,2696,2020-02-28,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0,40.760537,-73.978890,27.0,0.0,0.0,1.0,3.257192e+08,36.0

### Saving the new CoViD-19 dataset

In [26]:
covid.to_csv('./data/covid_19_processed.csv')